<!doctype html>
<html lang="en">
  <head>    
    <title>More-Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marmelad|Courgette">
    <link rel="stylesheet" href="css/index.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>    
    <header>
      <div class="navbar-fixed">
        <nav class="nav-extended green lighten-2">
          <div class="nav-wrapper">
            <a class="brand-logo center truncate">More-Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><span class="chip">2</span></li>  
              <li><a class="dropdown-button" data-activates="dropdown2">Larrystone<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Notifications <span class="chip">2</span></a></li>
                <li><a href="profile.html">My Profile</a>
                <li><a href="index.html">Sign Out</a></li>
            </ul>
          </div>
          
          <div>
              <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="my_recipes.html">My Recipes</a></li>
                <li><a href="my_favs.html">My Favorites</a></li>
              </ul>
            </div>
          </div>

          <ul id="dropdown2" class="dropdown-content">
            <li><a href="profile.html" >My Profile</a></li>
            <li><a href="index.html">Sign Out</a></li>
          </ul>     
        </nav>

        <!-- Pre-loader for recipes-->
        <div class="center-align v-align2" id="preload">
           <div class="preloader-wrapper small active">
             <div class="spinner-layer spinner-green-only">
               <div class="circle-clipper left">
                 <div class="circle"></div>
               </div>
               <div class="gap-patch">
                 <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                 <div class="circle"></div>
               </div>
             </div>
           </div>
           <h5>Fetching Great Recipes</h5>
         </div>

        <!-- Slider Sections-->
        <div class="push-content-down load hide grey lighten-5">
        <!-- Recipes home-->
          <div id="home" class="recipes">
            <div class="center-align row">
              <div class="col s12 m8 l10">
                <span class="full-title">Top Picks</span>
                <div class="rounded-line"></div>
              </div>
              <div class="col s12 m4 l2">
                <form class="row">
                  <input placeholder="Search Recipe" id="search-input" type="text" class="col s9 m8">
                  <a id="search-button" class="waves-effect waves-light btn col s2 m3 search green lighten-3"><i class="material-icons">search</i></a>
                </form>
              </div>
            
                <div class="col s12 m6 l4">
                <div class="card medium hoverable show_recipe_info">
                  <div class="card-image">
                    <img src="images/cake.jpg" height="220px">
                  </div>
                  <div class="card-content">
                      <span class="card-title">Chocolate Cake</span>
                      <p class="truncate">A dessert respected all over</p>
                      <p class="truncate">Added by Larrystone</p>
                  </div>
                  <div class="card-action vote_details">
                      <div class="left">
                          <i class="material-icons green-text">thumb_up</i> <span>&nbsp;500</span>
                      </div>
                      <div class="right">
                            <i class="material-icons red-text">thumb_down</i><span>&nbsp;0</span>
                      </div>
                    </div>
                </div>
            </div>
  
            <div class="col s12 m6 l4">
                <div class="card medium hoverable show_recipe_info">
                    <div class="card-image">
                      <img src="images/bhindi.jpg" height="220px">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Bhindi</span>
                        <p class="truncate">Priceless vegetable meal from Mali</p>
                        <p class="truncate">Added by Rowland</p>
                    </div>
                    <div class="card-action vote_details">
                        <div class="left">
                            <i class="material-icons green-text">thumb_up</i> <span>&nbsp;400</span>
                        </div>
                        <div class="right">
                              <i class="material-icons red-text">thumb_down</i><span>&nbsp;20&nbsp;</span>
                        </div>
                      </div>
                </div>
            </div>
  
            <div class="col s12 m6 l4">
                <div class="card medium hoverable show_recipe_info">
                    <div class="card-image">
                      <img src="images/fried-rice.jpg" height="220px">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fried Rice</span>
                        <p class="truncate">Nothing taste better...</p>
                        <p class="truncate">Added by Shayo</p>
                    </div>
                    <div class="card-action vote_details">
                        <div class="left">
                            <i class="material-icons green-text">thumb_up</i> <span>&nbsp;390</span>
                        </div>
                        <div class="right">
                              <i class="material-icons red-text">thumb_down</i><span>&nbsp;0</span>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium hoverable show_recipe_info">
                    <div class="card-image">
                      <img src="images/Dodo.jpg" height="220px">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fried Plaintain (Dodo)</span>
                        <p class="truncate">Everyone loves dodo!</p>
                        <p class="truncate">Added by Larrystone</p>
                    </div>
                    <div class="card-action vote_details">
                        <div class="left">
                            <i class="material-icons green-text">thumb_up</i> <span>&nbsp;350</span>
                        </div>
                        <div class="right">
                              <i class="material-icons red-text">thumb_down</i><span>&nbsp;0</span>
                        </div>
                      </div>
                </div>
            </div>
  
            <div class="col s12 m6 l4">
                <div class="card medium hoverable show_recipe_info">
                  <div class="card-image">
                    <img src="images/egusi-soup.jpg" height="220px">
                  </div>
                  <div class="card-content">
                    <span class="card-title">Egusi Soup</span>
                    <p class="truncate">One of the best Nigerian delicacy</p>
                    <p class="truncate">Added by Larrystone</p>
                  </div>
                  <div class="card-action vote_details">
                      <div class="left">
                          <i class="material-icons green-text">thumb_up</i> <span>&nbsp;200</span>
                      </div>
                      <div class="right">
                            <i class="material-icons red-text">thumb_down</i><span>&nbsp;0</span>
                      </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- Pagination -->
            <ul class="col s12 pagination center-align">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li class="active green"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
          </div>   
        </div>
      </div>
    </header>



    <footer class="page-footer load green lighten-2 hide">
        <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">More-Recipes...</h5>
                <p class="grey-text text-lighten-4">An Andela Bootcamp LOS/26 project</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Project links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/larrystone/BC-26-More-Recipes">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.pivotaltracker.com/n/projects/2096195">Pivotal Tracker</a></li>
                </ul>
              </div>
            </div>
          </div>
      <div class="footer-copyright">
        <div class="container">
        Copyright © 2017 Lawal Lanre (Larrystone)
        </div>
      </div>
    </footer>

    <!--scripts includes-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>          
    <script src="js/recipe.js"></script>
  </body>
</html>



      