<!doctype html>
<html lang="en">
  <head>    
    <title>More-Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="css/index.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="valign-wrapper row hide" id="signin">
        <form action="" method="post" class="col card s10 pull-s1 m4 pull-m4">
          <div class="card-content">
            <span class="card-title truncate">Login to Your Account</span>
            <div class="row">
              <div class="input-field col s12">
                <label for="username"><i class="material-icons">account_circle</i> Username or Email</label>
                <input type="text" class="validate" name="username" id="username" />
              </div>
              <div class="input-field col s12">
                <label for="password"><i class="material-icons">lock_outline</i> Password </label>
                <input type="password" class="validate" name="password" id="password" />
              </div>
              <h6 class="right-align">Forgot password?</h6>
              <div class="center-align">
                <input type="submit" class="btn waves-effect waves-light green lighten-2 go" value="Login" id="btn-signin">
              </div>
              <br/>
              <div class="card-action right-align">
                Don't have an account? <a class="signup">Sign Up</a>
              </div>
            </div>
          </div>
        </form>
    </section>
    
    <section class="valign-wrapper row hide" id="signup">
        <form action="" method="post" class="col card s10 pull-s1 m4 pull-m4">
          <div class="card-content">
            <span class="card-title truncate">Sign Up for an Account</span>
            <div class="row">
              <div class="input-field col s12">            
                <label for="name">Name</label>
                <input type="text" class="validate" name="name" id="name" />
              </div>
              <div class="input-field col s12">
                <label for="username">Username</label>
                <input type="text" class="validate" name="username" id="username" />
              </div>
              <div class="input-field col s12">
                <label for="email">Email address</label>
                <input type="email" class="validate" name="email" id="email" />
              </div>
              <div class="input-field col s12">
                <label for="password">Password </label>
                <input type="password" class="validate" name="password" id="password" />
              </div>
              <div class="input-field col s12">
                <label for="password">Re-enter Password </label>
                <input type="password" class="validate" name="password" id="password" />
              </div>
              <div class="center-align">
                <input type="submit" class="btn waves-effect waves-light green lighten-2 go" value="Continue" id="btn-signup">
              </div>
              <br/>
              <div class="card-action right-align">
                Already have an account? <a class="login">LogIn</a>
              </div>
            </div>
          </div>
        </form>
    </section>
    <section class="v-align truncate gone">
          <a class="btn waves-effect white grey-text darken-text-2 signup">Sign Up</a> &nbsp; or &nbsp; <a class="btn waves-effect white grey-text darken-text-2 login">Login</a>
    </section> 
    <div class="slider fullscreen gone">
          <ul class="slides">
            <li>
              <img src="images/2.jpg">
              <div class="caption center-align">
                <h4>Share Your Exciting Recipe Ideas With The world</h4>
                <h5 class="light white-text text-lighten-1">#More-Recipes...</h5>
              </div>
            </li>
            <li>
              <img src="images/3.png">
              <div class="caption center-align">
                <h4 class="indigo-text text-darken-3">Post And Get Feedbacks On Recipes</h4>
                <h5 class="light white-text text-lighten-1">#More-Recipes...</h5>
              </div>
            </li>
            <li>
              <img src="images/1.jpg">
              <div class="caption center-align">
                <h4 class="red-text text-darken-4">Bookmark (and Categorise) Your Favorite Recipes</h4>
                <h5 class="light white-text text-lighten-1">#More-Recipes...</h5>
              </div>
            </li>
          </ul>
        </div>
    </div>      
    
    <!--scripts includes-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>          
    <script src="js/home.js"></script>
  </body>
</html>