<!doctype html>
<html lang="en">
  <head>    
    <title>More-Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="css/recipe.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green lighten-2">
          <a href="#" data-activates="slide-out" class="show-on-large button-collapse"><i class="material-icons">menu</i></a>
          <a href="recipes.html" class="brand-logo center truncate">More-Recipes</a>
        </div>
      </nav>
    </div>
    
    <aside>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="images/dodo.jpg">
            </div> 
            <a href="profile.html"><span class="name white-text">Lanre Lawal</span>
            <span class="email white-text">larrystone@gmail.com</span></a>
          </div>
        </li>
        <li><a class="waves-effect blue" href="recipes.html">Home</a></li>
        <li><a class="waves-effect" href="my_recipes.html">My Recipes</a></li>
        <li><a class="waves-effect" href="fav_recipes.html">Favorites</a></li>
      </ul>
    </aside>

    <div class="main">
      <header>
        <h5 class="center-align">My Profile</h5>
        <hr/>
      </header>

      <main class="row">
        <div class="col s12 m7">
          <div class="card">
            <ul class="collection with-header">
              <li class="collection-header grey lighten-4"><h5>Basic Information</h5></li>              
              <li class="collection-item">
                <div>
                  <h6 class="green-text">Name<a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></h6>
                <h6>Lawal Lanre Emmanuel</h6>
              
                </div>
              </li>
              <li class="collection-item">            
                <h6 class="green-text">Username<a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></h6>
                <h6>larrystone</h6></li>
              <li class="collection-item">
                <h6 class="green-text">Email<a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></h6>
                <h6>larrystone@gmail.com</h6>                
              </li>
              <li class="collection-item">
                <h6 class="green-text">Password<a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></h6>
                <h6>*************</h6>                
              </li>
            </ul>
          </div>
        </div>

        <div class="col s12 m5">
          <div class="card">
            <ul class="collection with-header">
              <li class="collection-header grey lighten-4"><h5>My Stats</h5></li>
              <a href="fav_recipes.html" class="collection-item clickable green-text" id="my-favorites-count">Favorite Recipes<span class="badge">3</span></a>
              <a href="my_recipes.html" class="collection-item clickable green-text" id="my-recipe-count">My Recipes<span class="badge">2</span></a>
              <a class="collection-item clickable green-text" id="my-review-count">Reviews<span class="badge">4</span></a>
            </ul>
          </div>
        </div>

      </main>
    </div>
       
    <!--scripts includes-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>          
    <script src="js/recipe.js"></script>
  </body>
</html>