<!doctype html>
<html lang="en">
  <head>    
    <title>More-Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="css/recipe.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green lighten-2">
          <a href="#" data-activates="slide-out" class="show-on-large button-collapse"><i class="material-icons">menu</i></a>
          <a href="recipes.html" class="brand-logo center truncate">More-Recipes</a>
        </div>
      </nav>
    </div>
    
    <aside>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="images/dodo.jpg">
            </div> 
            <a href="profile.html"><span class="name white-text">Lanre Lawal</span>
            <span class="email white-text">larrystone@gmail.com</span></a>
          </div>
        </li>
        <li><a class="waves-effect" href="recipes.html">Home</a></li>
        <li><a class="waves-effect" href="my_recipes.html">My Recipes</a></li>
        <li><a class="waves-effect" href="fav_recipes.html">Favorites</a></li>
      </ul>
    </aside>

    <div class="main">
      <div class="row">
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-content grey lighten-4">
              <span class="card-title"> Ewedu Soup   &nbsp;&nbsp;
                 <i class="material-icons clickable" id="bookmark">star_border</i> 
              </span>
              <span>~ Lanre Lawal</span>
            </div>
            <div class="card-content">
              <span class="card-title">Ingredients</span>
              <ul>
                <li>* Ewedu leaves</li>
                <li>* Salt</li>
                <li>* Water</li>
              </ul>
            </div>

            <div class="card-action">
              <span class="card-title">Directions</span>
              <p>Boil water for 30mins and so on...</p>
            </div>

            <div class="card-action truncate">
                <i class="blue-text material-icons clickable" id="like">thumb_up</i><span id="likes">200</span> &nbsp;
                <i class="red-text material-icons clickable" id="dislike">thumb_down</i><span id="dislikes">0</span>
            </div>
          </div>
        </div>

        <section class="col s12 m6 reviews">
          <div id="post_comment" class="box">
            <form>
              <div class="row">
                <div class="input-field col s12 right-align">
                  <textarea id="review_text" class="materialize-textarea"></textarea>
                  <label for="review_text">Write a review</label>
                  <input type="submit" class="btn waves-effect waves-light green lighten-2" value="Post">
                </div>
              </div>
            </form>
          </div>

          <!-- Pre-loader for reviews-->
          <div class="center-align" id="preload">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <h5>Loading Reviews</h5>
          </div>
            
          <!-- Reviews -->
          <section class="reviews card hide" id="load">
            <div class="blue-text shift-up">Reviews</div>
            <div class="review box">
              <span class="review_text">That's my favorite...</span><br/>
              <h6 class="reviewer red-text right-align">~ Gbenga Adeoye</h6>
            </div>
                        
            <div class="review box">
              <span class="review_text">I am not even sure this guy knows how to prepare this thing</span><br/>
              <h6 class="reviewer red-text right-align">~ Vivian Patt</h6>
            </div>

            <div class="review box">
              <span class="review_text">And so on? What kinda direction is that?</span><br/>
              <h6 class="reviewer red-text right-align">~ Mike Davies</h6>
            </div>
      
          </section>
        </section>

      </div>
    </div>

    <!--scripts includes-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>          
    <script src="js/recipe.js"></script>
  </body>
</html>