<!doctype html>
<html lang="en">
  <head>    
    <title>More-Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="css/recipe.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green lighten-2">
          <a href="#" data-activates="slide-out" class="show-on-large button-collapse"><i class="material-icons">menu</i></a>
          <a href="recipes.html" class="brand-logo center truncate">More-Recipes</a>
        </div>
      </nav>
    </div>
    
    <aside>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="images/dodo.jpg">
            </div> 
            <a href="profile.html"><span class="name white-text">Lanre Lawal</span>
            <span class="email white-text">larrystone@gmail.com</span></a>
          </div>
        </li>
        <li><a class="waves-effect blue" href="recipes.html">Home</a></li>
        <li><a class="waves-effect" href="my_recipes.html">My Recipes</a></li>
        <li><a class="waves-effect" href="fav_recipes.html">Favorites</a></li>
      </ul>
    </aside>

    <div class="main">
      <header class="row">
        <h5 class="col s4 m6"> &nbsp; Top Picks</h5>
        <div class="col s8 m6">
          <form class="row">
            <input placeholder="Search Recipe" id="search" type="text" class="validate col s9 m7">        
            <a class="waves-effect waves-light btn col s2 m4 search green lighten-3"><i class="material-icons">search</i></a>
          </form>
        </div>      
      </header>

      <main class="row">
        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Ewedu Soup</span>
            </div>
            <div class="card-action right-align">
              - by Lanre
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>200 &nbsp;
                <i class="material-icons">thumb_down</i>0
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Fried Rice</span>
            </div>
            <div class="card-action right-align">
              - by Maxwell
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>180 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>0
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Amala</span>
            </div>
            <div class="card-action right-align">
              - by Bolu
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>180 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>10
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Banga Soup</span>
            </div>
            <div class="card-action right-align">
              - by Grace
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>168 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>2
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Coconut Rice</span>
            </div>
            <div class="card-action right-align">
              - by Craig
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>155 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>3
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Tomato Sauce</span>
            </div>
            <div class="card-action right-align">
              - by Susan
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>151 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>1
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Yam Poridge</span>
            </div>
            <div class="card-action right-align">
              - by Mama
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>145 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>0
            </div>
          </div>
        </div>

        <div class="col s5 m2">
          <div class="card hoverable show_recipe_info">
            <div class="card-content grey lighten-4">
              <span class="card-title">Moin Moin</span>
            </div>
            <div class="card-action right-align">
              - by Titilayo
            </div>
            <div class="card-action truncate">
                <i class="material-icons">thumb_up</i>105 &nbsp; &nbsp;
                <i class="material-icons">thumb_down</i>3
            </div>
          </div>
        </div>

      </main>

      <div>
        <ul class="pagination center-align">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active blue"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>
       
    <!--scripts includes-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>          
    <script src="js/recipe.js"></script>
  </body>
</html>