//colors
$color_green_lighten_2: #9D6946;
$color_subtitle: rgba(255,255,255,0.6);
$color_nobel_approx: #b6b5b5;
$color_white: #fff;
$color_red: #F71111;
$color_paging: #a5673f;
$color_whitesmoke: whitesmoke;

//fonts
$font_0: Marmelad;
$font_1: Helvetica;
$font_2: Courgette;
$font_3: cursive;

#root, .body {
	height: 100%;
}

.foods {
	margin-left: auto;
	animation-name: foods;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-timing-function: linear;
	@media screen and (max-width: 600px){
    display: none;
	}
}

#title {
	color: $color_white;
	margin: 350px 100px;
	animation-duration: 4s;
	animation-delay: 2s;
	font-family: "Marmelad",sans-serif;
	font-size: 5.5rem;
	@media screen and (max-width: 600px){
    margin: 50px 30px;
	}
}

@keyframes foods {
	0%   {transform:translateY(30%);}
	50% {transform:translateY(40%);}
	100% {transform:translateY(30%);}
}

.body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.ui.basic.button, .ui.basic.buttons .button {
	color: $color_white !important;
}

.sub-title {
	color: $color_subtitle;
	font-size: 1.1rem;
}
.desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.word-wrap {
	word-wrap: break-word;
}

main {
  flex: 1 0 auto;
}

header {
	color: $color_white;
	background-color: $color_green_lighten_2;
	box-shadow: 1px 2px 2px grey;
	position: fixed;
	width: 100%;
	z-index: 9;
	padding: 20px 0px 0px 0px;
	&#not-found {
		padding: 25px;
	}
}

footer {
	background-image: url('/images/cake.jpg');
	box-shadow: 1px -2px 2px grey;
	flex: 0 0 125px;
	margin-top: 140px;
	color: $color_white;
	background-size: cover !important;
  background-position: center !important;
}

.flex-row {
	padding: 10px 15px 10px 0px;
	display: flex;
	flex-wrap: wrap;
}

.flex-item {
	margin-right: 10px;
}

.push-down {
	top: 130px;
	margin: 0px;
	position: relative;
}

.brand-logo {
	font-size: 30px;
	font-family: $font_2, $font_3;
	margin: 0px auto 0px 15px;
}

a, a:hover {
	color: $color_whitesmoke;
	text-decoration: none;
}

.full-title {
	font-family: $font_0, $font_1;
	letter-spacing: 1px;
	margin: 15px 0px;
  font-size: 28px;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.footer-item {
	margin: 0px auto;
}

.food-card {
	padding: 5px !important; 
	margin: 10px !important;
}

.food-card:hover {
	transform: scale(1.05);
}

.toast-bottom-left {
	bottom: 150px !important;
}

.flex {
	display: flex !important;
	justify-content: center !important;
	align-self: baseline;
}

.flex__wrap {
	flex-wrap: wrap !important;	
}

.auto__left {
	margin-left: auto !important;
	margin-right: 30px !important;
}

.footer {
	padding: 15px 0px;
}

.flex__space-around {
	justify-content: space-around;
}

.loading--img {
	margin-top: 100px;
}

.pad__10 {
	padding: 10px !important;
}

.pad__0 {
	padding: 0px !important;
}

.form--image {
	margin-right: 20px;
}

.image-src {
	width: 100%;
	margin-bottom: 20px;
	flex-basis: 1 1;
}

.hide {
	display: none;
}

.basic-info {
	flex-grow: 1;
}

.not-found--message {
	width: 96%;
	margin: 10px auto !important;
}

.pagination {
	padding: 15px;
}

.rc-pagination-item-active {
	background-color: $color_paging;
	border-color: $color_paging;
}

.rc-pagination-item:hover {
	border-color: $color_paging;
}

.menu--dropdown {
	width: 100px !important;
}

.banner--image {
	background: url('/images/cake.jpg') no-repeat;
	margin: 0px 0px 15px 0px !important;
	background-size: cover !important;
	height: 100vh;
}

.button--auth {
	padding: 30px 10px 0px 0px;
}

.form--signup {
	width: 300px !important;
}

.text--heading {
	font-size: 4.5rem;
	@media screen and (max-width: 600px){
    font-size: 2.5rem;
	}
}

.comment__avatar {
	height: 36px !important;
	width: 36px !important;
}

.card--review {
	padding: 20px !important;
	width: 450px !important;
}

.button--no-border__blue {
	border: none;
	color: blue;
}

.comment {
	margin-bottom: 10px !important;
}

.card--profile {
	width: 550px !important;
}

.card--profile__pad-top {
	padding-top: 70px !important;
}

.full-width {
	width: 100% !important;
}

.profile--img {
	border-radius: 50%; 
	box-shadow: 1px 2px 2px 2px gray;
}

.card--recipe-details {
	width: 680px !important;
}

.card--action {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item-divider {
	border-left: 1px solid lightgrey;
}

.ui.compact.selection.dropdown {
	 min-width: 100px !important;
	 max-width: 110px !important;
}

.not-found {
	display: flex;
	padding: 20px;
	justify-content: center;
	h1 {
		font-size: 250px;
		color: $color_green_lighten_2;
		font-family: $font_2;
	}
	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		padding: 0px;
	}
}